
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plus jakarta sans',sans-serif;
}
body {
    width: 100%;
    overflow-x: hidden;
}
h1 {
    font-weight: 900;
}
body {
    width: 100%;
}
.btn {
    border: 1px solid #000;
    color: #000;
    font-weight: 500;
    background: transparent;
    width: 100px;
    position: relative;
    overflow: hidden;
    
    transition: transform .5 ;
    
}
.btn:hover {
    color: #fff;
    transform: scale(1.05);
    border: 1px solid black;
}
.btn::before{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
    background: #000;
    transform: scaleX(0);
    transition: transform .5s ease ;
    transform-origin: center;
}
.btn:hover::before {
    transform: scaleX(1);
}

nav ul {
    list-style: none;
}
nav ul li {
    margin: 10px 10px 0px 10px;
    
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    position: relative;
    display: inline-block;
    transition: scale .5s ease;
}
nav ul li a:hover {
    scale: 1.1;
}
nav ul li a::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 99%;
    border-radius: 90px;
    transform: scaleX(0);
    transition: all .5s ease;
    transform-origin: left;
}
nav ul li a:hover::before {
    transform: scaleX(1);
}
h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
}
h2 span {
    font-weight: 900;
    
    letter-spacing: -2px;
}
.conetent-1 h2 span:nth-of-type(2) {
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.conetent-1 p {
    opacity: .5;
}
.conetent-1 div:last-of-type a  i{
    font-size: 25px ;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    
    transition: background-color .5s ;
}
.socail-medai a {
    transition: background-color .5s ;
}
.socail-medai a:hover i {
    background-color: #d9d9d9;
}
.cards div i {
    font-size: 50px;
}
.cards div {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0px 20px;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0,0,.05);
}
.cards div h2 {
    font-size: 20px;
    z-index: 99;
}
.cards div i {
    z-index: 99;
}
.cards {
    width: 100%;
}
.cards div:nth-of-type(2n+1){
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.cards div:nth-of-type(2n+1)::before {
    content: '';
    width: 50px;
    height: 200%;
    background-color: #fdc500;
    position: absolute;
    left: 50%;
    z-index: -1;
    top: -50%;
    animation: animatebefore 20s linear infinite;
}
.cards div:nth-of-type(2n+1)::after {
    content: '';
    position: absolute;
    inset: 5px;
    background-color: #d9d9d9;
    border-radius: 20px;
}
@keyframes animatebefore {
    0% {
        transform: rotate(360deg);
    }
    
    
}
.Experience div span {
    display: flex;
    justify-content: space-between;
    
}
.Experience {
    background-color: #000;
    color: #000;
    position: relative;
}
.Experience::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: -100%;
}

.Experience::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    right: -100%;
}
.Experience div {
    background-color: #d9d9d9;
    border-radius: 20px;
    transition: transform .5s ,border .3s;
}
.Experience div:hover {
    transform: scale(1.01);
    border: 1px solid #fdc500;
}
.project {
    background-color: #000;
    color: #fff;
    position: relative;
}
.project::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: -100%;
}

.project::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    right: -100%;
}
.project > div div h3{
    font-size: 34px;

}
.project > div div p{
    opacity: .5;
    width: 70%;
}
.project div  img {
    filter: grayscale(100%);
    transition: all .5s ease;
}
.project div:hover >img {
    filter: grayscale(0);
}
.project div:hover >h3 {
    color: #fdc500;
}
.project div div a i:focus {
    color: gold;
    padding: 10px;
    border-radius: 20px;
}
.feedback > div {
    border: 1px solid rgba(0, 0,0,.01);
    border-radius: 20px;
    gap: 10px;
    cursor: pointer;
    background-color: #e9ecef80 ;
    box-shadow: 0px 10px 10px rgba(0, 0,0,.5);
    position: relative;
    overflow: hidden;
    transition: all .5s ;
    width: 400px;
}
.feedback div div {
    width: 80%;
    height: 2px;
    background-color: #000;
}
.feedback div img,.feedback div p,.feedback div div,.feedback div h3,.feedback div h5 {
    z-index: 99;
}
.feedback > div::before{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 2%;
    border-radius: 50px;
    background-color: #fdc500;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform .4s;
}
.feedback > div::after{
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 2%;
    border-radius: 50px;
    background-color: #fdc500;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .4s;
}
.feedback > div:hover {
    transform: scale(1.04);
}
.feedback > div:hover::before,.feedback > div:hover::after {
    transform: scaleY(1);
}
    
.contact {
    width: 50%;
}
input {
    padding: 10px;
}

.contact-form